<form *ngIf="educationlevel" name="deleteForm" (ngSubmit)="confirmDelete(educationlevel.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="educationlevelDeleteDialogHeading">تأكيد عملية الحذف</h4>

    <button style="border-radius: 5rem;" type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-educationlevel-heading">هل أنت متأكد أنك تريد حذف مستوى التعليم {{ educationlevel.id }}؟</p>
  </div>

  <div class="modal-footer">
    <button style="border-radius: 5rem;" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>الغاء</span>
    </button>

    <button style="border-radius: 5rem;" id="jhi-confirm-delete-educationlevel" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <i class="fa fa-trash-o" style="font-size:18px;color:white"></i>&nbsp;<span>حذف</span>
 
    </button>
  </div>
</form>
