<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fields">
      <h2 data-cy="fieldsDetailsHeading"><span>Fields</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fields.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ fields.name }}</span>
        </dd>
        <dt><span>Ftype</span></dt>
        <dd>
          <span>{{ fields.ftype }}</span>
        </dd>
        <dt><span>Fvalue</span></dt>
        <dd>
          <span>{{ fields.fvalue }}</span>
        </dd>
        <dt><span>Contestform</span></dt>
        <dd>
          <div *ngIf="fields.contestform">
            <a [routerLink]="['/contestform', fields.contestform.id, 'view']">{{ fields.contestform.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>رجوع</span>
      </button>

      <button type="button" [routerLink]="['/fields', fields.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>تعديل</span>
      </button>
    </div>
  </div>
</div>
