<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-generalrules-heading" data-cy="GeneralrulesCreateUpdateHeading" style="direction: rtl">
        <b> إنشــاء أو تحييـن الشــروط العــامة </b>
      </h2>
      <hr />
      <br />
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null" style="direction: rtl">
          <label class="form-label" for="field_id">المعــرّف</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3" style="direction: rtl">
          <label class="form-label" for="field_designation">الرجـاء إدخــال الإسـم : *</label>
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />

          <div *ngIf="editForm.get('designation')!.invalid && (editForm.get('designation')!.dirty || editForm.get('designation')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('designation')?.errors?.required"> هذا الحقل مطلوب. </small>
          </div>
        </div>

        <div class="row mb-3" style="direction: rtl">
          <label class="form-label" for="field_effectdate">تــاريخ التفعـيل :*</label>
          <div class="input-group">
            <input
              id="field_effectdate"
              data-cy="effectdate"
              type="text"
              class="form-control"
              name="effectdate"
              ngbDatepicker
              #effectdateDp="ngbDatepicker"
              formControlName="effectdate"
            />
            <button type="button" class="btn btn-secondary" (click)="effectdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('effectdate')!.invalid && (editForm.get('effectdate')!.dirty || editForm.get('effectdate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('effectdate')?.errors?.required"> هذا الحقل مطلوب. </small>
          </div>
        </div>
      </div>

      <div style="direction: rtl">
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>حفظ</span>
        </button>

        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>الغاء</span>
        </button>
      </div>
    </form>
  </div>
</div>
