<div class="d-flex justify-content-center" style="direction: rtl">
  <div class="col-8">
    <div *ngIf="generalrules">
      <h2 data-cy="generalrulesDetailsHeading"><span> الشــروط العــامــة </span></h2>

      <hr />
      <br />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>المعـرّف</span></dt>
        <dd>
          <span>{{ generalrules.id }}</span>
        </dd>
        <dt><span>الإســم</span></dt>
        <dd>
          <span>{{ generalrules.designation }}</span>
        </dd>
        <dt><span>تـاريخ التفعـيل</span></dt>
        <dd>
          <span>{{ generalrules.effectdate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>رجوع</span>
      </button>

      <button type="button" [routerLink]="['/generalrules', generalrules.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>تعديل</span>
      </button>
    </div>
  </div>
</div>
