<div class="d-flex justify-content-center">
  <div class="col-8" style="direction: rtl">
    <div *ngIf="contestannounce">
      <h2 data-cy="contestannounceDetailsHeading"><span>إعــلان المنــاظرة</span></h2>

      <hr />
      <br />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>المعــرّف</span></dt>
        <dd>
          <span>{{ contestannounce.id }}</span>
        </dd>
        <dt><span>نــص الإعــلان</span></dt>
        <dd>
          <span>{{ contestannounce.announceText }}</span>
        </dd>
        <dt><span>تــاريخ فتـح المنــاظرة</span></dt>
        <dd>
          <span>{{ contestannounce.startdate | formatMediumDate }}</span>
        </dd>
        <dt><span>آخــر أجل لقبــول التّرشــحــات</span></dt>
        <dd>
          <span>{{ contestannounce.limitdate | formatMediumDate }}</span>
        </dd>
        <dt><span>حــالة الإعـلان</span></dt>
        <dd>
          <span>{{ contestannounce.status }}</span>
        </dd>
        <dt><span>الشــروط العــامــة</span></dt>
        <dd>
          <div *ngIf="contestannounce.idsgeneralrules">
            <a [routerLink]="['/generalrules', contestannounce.idsgeneralrules, 'view']">{{ contestannounce.idsgeneralrules }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>رجوع</span>
      </button>

      <button type="button" [routerLink]="['/contestannounce', contestannounce.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>تعديل</span>
      </button>
    </div>
  </div>
</div>
